# Replace <PROJECT_ROOT> with the absolute path to your project directory

# Used with systemd service file to load CUDA libraries
LD_LIBRARY_PATH=<PROJECT_ROOT>/.venv/lib/python3.12/site-packages/nvidia/cublas/lib:<PROJECT_ROOT>/.venv/lib/python3.12/site-packages/nvidia/cudnn/lib
