[Unit]
Description=Whisper WebUI
Requires=network.target
After=network.target

[Service]
Type=simple
Restart=no
User=whisper
Group=whisper
WorkingDirectory=/opt/whisper/
Environment="LD_LIBRARY_PATH=/opt/whisper/.venv/lib/python3.10/site-packages/nvidia/cublas/lib:/opt/whisper/.venv/lib/python3.10/site-packages/nvidia/cudnn/lib"
ExecStart=/opt/whisper/.venv/bin/python manage.py runserver

[Install]
WantedBy=multi-user.target
