[Unit]
Description=WhisperScribe
Requires=network.target
After=network.target

[Service]
Type=notify
NotifyAccess=main
User=whisper
Group=whisper
RuntimeDirectory=gunicorn
# Update <PROJECT_ROOT> with the absolute path to your project directory
WorkingDirectory=<PROJECT_ROOT>
# Update <PROJECT_ROOT> with the absolute path to your project directory
EnvironmentFile=<PROJECT_ROOT>/.env
# Update <PROJECT_ROOT> with the absolute path to your project directory
ExecStart=<PROJECT_ROOT>/.venv/bin/gunicorn core.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
