[Unit]
Description=WhisperScribe Q
PartOf=whisperscribe.service
After=whisperscribe.service

[Service]
Type=simple
Restart=no
User=whisper
Group=whisper
# Update <PROJECT_ROOT> with the absolute path to your project directory
WorkingDirectory=<PROJECT_ROOT>
# Update <PROJECT_ROOT> with the absolute path to your project directory
EnvironmentFile=<PROJECT_ROOT>/.env
# Update <PROJECT_ROOT> with the absolute path to your project directory
ExecStart=<PROJECT_ROOT>/.venv/bin/python manage.py qcluster

[Install]
WantedBy=whisperscribe.service
