{% load filters %}

<div class="segment mb-5" data-index="{{ segment.id }}">
   <div class="d-flex justify-content-start">
      <div class="mb-3 me-2">
         <div class="form-floating">
            <input type="text" class="form-control" id="speaker-{{ segment.id }}" name="speaker-{{ segment.id }}" value="{{ segment.speaker }}" placeholder="" data-field="speaker" />
            <label for="speaker-{{ segment.id }}" >Speaker</label>
         </div>
      </div>

      <div class="mb-3 me-2">
         <div class="form-floating">
            <input type="text" class="form-control" id="start-{{ segment.id }}" name="start-{{ segment.id }}" value="{{ segment.start|seconds_to_segment_time }}" placeholder="" data-field="start" />
            <label for="start-{{ segment.id }}">Start</label>
         </div>
      </div>

      <div class="mb-3">
         <div class="form-floating">
            <input type="text" class="form-control" id="end-{{ segment.id }}" name="end-{{ segment.id }}" value="{{ segment.end|seconds_to_segment_time }}" placeholder="" data-field="end" />
            <label for="end-{{ segment.id }}">End</label>
         </div>
      </div>
   </div>

   <div class="d-flex">
      <textarea class="form-control mb-3" id="text-{{ segment.id }}" name="text-{{ segment.id }}" data-field="text">{{ segment.text }}</textarea>
   </div>

   <div>
      <div class="btn-group" role="group">
         <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Play" data-bs-placement="bottom" aria-label="Play" data-type="play"><i class="bi bi-play-fill"></i></button>
         <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Pause" data-bs-placement="bottom" aria-label="Pause" data-type="pause"><i class="bi bi-pause-fill"></i></button>
         <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Quick Rewind" data-bs-placement="bottom" aria-label="Quick Rewind" data-type="rewind"><i class="bi bi-arrow-counterclockwise"></i></button>
         <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Add Segment Before" data-bs-placement="bottom" aria-label="Add Segment Before" data-type="add-before"><i class="bi bi-arrow-bar-up"></i></button>
         <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Add Segment After" data-bs-placement="bottom" aria-label="Add Segment After" data-type="add-after"><i class="bi bi-arrow-bar-down"></i></button>
      </div>

      <div class="float-end" role="group">
         <button class="btn btn-outline-danger border-0 segment-delete" data-bs-toggle="tooltip" data-bs-title="Delete Segment" data-bs-placement="bottom" aria-label="Delete Segment" data-type="delete"><i class="bi bi-x-lg"></i></button>
      </div>
   </div>
</div>