{% extends 'webui/base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<div class="row">
   <div class="col-4">
      <div class="sticky-top">
         <div class="row">
            {% if properties.file %}
               <{{ properties.type }} controls id="media" class="w-100">
                  <source src="{{ properties.file.url }}" />
               </{{ properties.type }}>
            {% endif %}
         </div>

         <div class="row mt-4">
            <div class="form-check m-3">
               <input type="checkbox" class="form-check-input" id="autoplay" name="autoplay" value="" />
               <label class="form-check-label" for="autoplay">Autoplay Segments</label>
            </div>
         </div>

         <div class="row mt-2">
            <div class="col">
               <label class="col-form-label" for="title">Title</label>
               <input class="form-control transcription-part" id="title" name="title" value="{{ properties.title }}" placeholder="" data-field="title" />
            </div>
         </div>

         <div class="row mt-3">
            <div class="col">
               <label class="col-form-label" for="description">Description</label>
               <textarea class="form-control transcription-part" id="description" name="description" rows="3" data-field="description">{{ properties.description }}</textarea>
            </div>
         </div>

         <div class="row mt-3">
            <div class="col">
               <label class="col-form-label" for="notes">Notes</label>
               <textarea class="form-control transcription-part" id="notes" name="notes" rows="3" data-field="notes">{{ properties.notes }}</textarea>
            </div>
         </div>

         {% if properties.speakers %}
         <form action="{% url 'webui:edit' properties.id %}" method="post">
            {% csrf_token %}
            <div class="row mt-3">
               <label class="col-form-label">Update Speaker</label>
               <div class="col">
                  <select class="form-select" name="speaker-old">
                     <option selected value="" disabled></option>
                     {% for speaker in properties.speakers %}
                     <option value="{{ speaker }}">{{ speaker }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="col">
                  <input type="text" class="form-control" name="speaker-new" value="" placeholder="New Name" />
               </div>
            </div>

            <input class="btn btn-primary mt-4" type="submit" value="Update Speaker" />
         </form>
         {% endif %}
      </div>
   </div>

   <div class="col-8">
      {% csrf_token %}
      {% if segments %}
         {% for segment in segments %}
         <!-- SEGMENT CHANGES MUST ALSO BE UPDATED IN EDIT.JS!!!! -->
         <div class="segment mb-5" data-index="{{ segment.id }}">
            <div class="d-flex justify-content-start">
               <div class="mb-3 me-2">
                  <div class="form-floating">
                     <input type="text" class="form-control" id="speaker-{{ segment.id }}" name="speaker-{{ segment.id }}" value="{{ segment.speaker }}" placeholder="" data-field="speaker" />
                     <label for="speaker-{{ segment.id }}" >Speaker</label>
                  </div>
               </div>

               <div class="mb-3 me-2">
                  <div class="form-floating">
                     <input type="text" class="form-control" id="start-{{ segment.id }}" name="start-{{ segment.id }}" value="{{ segment.start|seconds_to_segment_time }}" placeholder="" data-field="start" />
                     <label for="start-{{ segment.id }}">Start</label>
                  </div>
               </div>

               <div class="mb-3">
                  <div class="form-floating">
                     <input type="text" class="form-control" id="end-{{ segment.id }}" name="end-{{ segment.id }}" value="{{ segment.end|seconds_to_segment_time }}" placeholder="" data-field="end" />
                     <label for="end-{{ segment.id }}">End</label>
                  </div>
               </div>
            </div>

            <div class="d-flex">
               <textarea class="form-control mb-3" id="text-{{ segment.id }}" name="text-{{ segment.id }}" data-field="text">{{ segment.text }}</textarea>
            </div>

            <div>
               <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Play" data-bs-placement="bottom" aria-label="Play" data-type="play"><i class="bi bi-play-fill"></i></button>
                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Pause" data-bs-placement="bottom" aria-label="Pause" data-type="pause"><i class="bi bi-pause-fill"></i></button>
                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Quick Rewind" data-bs-placement="bottom" aria-label="Quick Rewind" data-type="rewind"><i class="bi bi-arrow-counterclockwise"></i></button>
                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Add Segment Before" data-bs-placement="bottom" aria-label="Add Segment Before" data-type="add-before"><i class="bi bi-arrow-bar-up"></i></button>
                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Add Segment After" data-bs-placement="bottom" aria-label="Add Segment After" data-type="add-after"><i class="bi bi-arrow-bar-down"></i></button>
               </div>

               <div class="float-end" role="group">
                  <button class="btn btn-outline-danger border-0 segment-delete" data-bs-title="Delete Segment" data-bs-placement="bottom" aria-label="Delete Segment" data-type="delete"><i class="bi bi-x-lg"></i></button>
               </div>
            </div>
         </div>
         {% endfor %}
      {% else %}
         <p>Nothing to see here. Either the file is still processing or there was an error. <a href="{% url 'webui:index' %}">Go home</a>.</p>
      {% endif %}
   </div>
</div>

<a href="#" id="scrollToTop" class="btn btn-lg btn-floating btn-primary">
   <i class="bi bi-arrow-up"></i>
</a>
{% endblock content %}

{% block body-end %}
<script src="{% static 'webui/js/edit.js' %}{{ '?v='|version }}"></script>
{% endblock body-end %}
