{% extends 'webui/base.html' %}
{% load static %}

{% block content %}
<div class="row">
   <div class="col-4">
      <div class="sticky-top">
         {% if properties.file %}
         <div class="row">
            <{{ properties.type }} controls id="media" class="w-100">
               <source src="{{ properties.file.url }}" />
            </{{ properties.type }}>
         </div>
         {% endif %}

         <div class="row mt-4">
            <div class="form-check m-3">
               <input type="checkbox" class="form-check-input" id="autoplay" name="autoplay" value="" {% if not properties.file %}disabled{% endif %} />
               <label class="form-check-label" for="autoplay">Autoplay Segments</label>
            </div>
         </div>

         <div class="row mt-2">
            <div class="col">
               <label class="col-form-label" for="title">Title</label>
               <input class="form-control transcription-part" id="title" name="title" value="{{ properties.title }}" placeholder="" data-field="title" />
            </div>
         </div>

         <div class="row mt-3">
            <div class="col">
               <label class="col-form-label" for="description">Description</label>
               <textarea class="form-control transcription-part" id="description" name="description" rows="3" data-field="description">{{ properties.description }}</textarea>
            </div>
         </div>

         <div class="row mt-3">
            <div class="col">
               <label class="col-form-label" for="notes">Notes</label>
               <textarea class="form-control transcription-part" id="notes" name="notes" rows="3" data-field="notes">{{ properties.notes }}</textarea>
            </div>
         </div>

         {% if properties.speakers %}
         <form action="{% url 'webui:edit' properties.id %}" method="post">
            {% csrf_token %}
            <div class="row mt-3">
               <label class="col-form-label">Update Speaker</label>
               <div class="col">
                  <select class="form-select" name="speaker-old">
                     <option selected value="" disabled></option>
                     {% for speaker in properties.speakers %}
                     <option value="{{ speaker }}">{{ speaker }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="col">
                  <input type="text" class="form-control" name="speaker-new" value="" placeholder="New Name" />
               </div>
            </div>

            <input class="btn btn-primary mt-4" type="submit" value="Update Speaker" />
         </form>
         {% endif %}
      </div>
   </div>

   <div class="col-8">
      {% csrf_token %}
      {% for segment in segments %}
         {% include 'webui/_segment.html' with segment=segment %}
      {% empty %}
         <p>Either the file is still processing or there was an error. <a href="{% url 'webui:add_segment' properties.id %}">Add a blank segment?</a></p>
      {% endfor %}
   </div>
</div>

<a href="#" id="scrollToTop" class="btn btn-lg btn-floating btn-primary">
   <i class="bi bi-arrow-up"></i>
</a>
{% endblock content %}

{% block body-end %}
<script src="{% static 'webui/js/edit.js' %}?v={{ version }}"></script>
{% endblock body-end %}
