{% extends 'webui/base.html' %}

{% block content %}
<form action="{% url 'webui:index' %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="row">
      <div class="col-6">
      {% for field in form %}
      {% if field.name == 'hotwords' %}
      </div><div class="col-6">
      {% endif %}
         <div class="mb-3">
            {% if field.field.widget.input_type == 'checkbox' %}
               <div class="form-check form-switch">
                  {{ field }}
                  <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
               </div>
            {% else %}
               <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
               {{ field }}
            {% endif %}
            {% if field.help_text %}
               <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
         </div>
      {% endfor %}
      </div>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="row mt-3">
   <div class="col">
      <ul class="list-group">
         {% if transcriptions %}
            {% for transcription in transcriptions %}
            <li class="list-group-item">{{ transcription.title }} <small class="text-body-secondary">model: {{ transcription.meta.model }}</small>
               <div class="float-end">
                  <div class="btn-group" role="group">
                     <a href="{% url 'webui:edit' transcription.id %}" class="btn btn-outline-secondary" title="Edit" aria-label="Edit"><i class="bi bi-pencil"></i></a>
                     <a href="{% url 'webui:view' transcription.id %}" class="btn btn-outline-secondary" title="View Transcription" aria-label="View Transcription"><i class="bi bi-eye" arai-hidden="true"></i></a>

                     <div class="dropdown btn-group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="fileDownloadButton" data-bs-toggle="dropdown" aria-expanded="false">File Downloads</button>
                        <ul class="dropdown-menu" aria-labelledby="fileDownloadButton">
                           <li><a class="dropdown-item" href="{% url 'webui:download_text' transcription.id %}">TXT</a></li>
                           <li><a class="dropdown-item" href="{% url 'webui:download_text_blob' transcription.id %}">TXT Blob</a></li>
                           <li><a class="dropdown-item" href="{% url 'webui:download_srt' transcription.id %}">SRT</a></li>
                           <li><a class="dropdown-item" href="{% url 'webui:download_vtt' transcription.id %}">VTT</a></li>
                           <li><a class="dropdown-item" href="{% url 'webui:download_json' transcription.id %}">JSON</a></li>
                           <li><a class="dropdown-item" href=""></a></li>
                        </ul>
                     </div>
                  </div>

                  <form class="float-end ms-3" action="{% url 'webui:delete' transcription.id %}" method="post">
                     {% csrf_token %}
                     <button class="btn btn-outline-danger border-0 " type="submit" title="Delete Transcription" aria-label="Delete Transcription"><i class="bi bi-x-circle" aria-hidden="true"></i></button>
                  </form>
               </div>
            </li>
            {% endfor %}
         {% else %}
         <p>Nothing to see here.</p>
         {% endif %}
      </ul>
   </div>
</div>
{% endblock content %}
