{% extends 'webui/base.html' %}

{% block content %}
<form action="{% url 'webui:index' %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="row">
      <div class="col-6">
      {% for field in form %}
      {% if field.name == 'hotwords' %}
      </div><div class="col-6">
      {% endif %}
         <div class="mb-3">
            {% if field.field.widget.input_type == 'checkbox' %}
               <div class="form-check form-switch">
                  {{ field }}
                  <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
               </div>
            {% else %}
               <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
               {{ field }}
            {% endif %}
            {% if field.help_text %}
               <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
         </div>
      {% endfor %}
      </div>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if statuses %}
<ul class="list-group my-5">
   {% for status in statuses %}
   <li class="list-group-item d-flex align-items-center{% if status.status == status.PROCESSING %} bg-warning" aria-current="true{% endif %}" data-transcription-id="{{ status.transcription.id }}">
      {{ status.transcription.title }} - {{ status.print_process }} {{ status.print_status }}
      {% if status.start_time %}- {{ status.start_time }}{% endif %}
      {% if status.show_cancel %}
         <a href="{% url 'webui:cancel' status.transcription.id %}" class="btn btn-outline-danger border-0 ms-auto" role="button" data-bs-toggle="tooltip" data-bs-title="Cancel Submission" aria-label="Cancel Submission">
            <i class="bi bi-x-lg"></i>
         </a>
      {% endif %}
   </li>
   {% endfor %}
</ul>
{% endif %}
{% endblock content %}
