{% extends 'webui/base.html' %}
{% load static %}
{% load filters %}

{% block head %}
<link href="{% static 'webui/css/datatables.min.css' %}{{ '?v='|version }}" rel="stylesheet">
<script src="{% static 'webui/js/datatables.min.js' %}{{ '?v='|version }}"></script>
{% endblock head %}

{% block content %}
{% if transcriptions %}
<table id="transcriptions">
   <thead>
      <tr>
         <th><span class="visually-hidden">Expander</span></th>
         <th>Title</th>
         <th>Submitted</th>
         <th>DL</th>
         <th>TR</th>
         <th>DZ</th>
         <th><span class="visually-hidden">Menu<span></th>
         <th><span class="visually-hidden">Delete<span></th>
      </tr>
   </thead>
   <tbody>
      {% for transcription in transcriptions %}
      <tr>
         <td class="expand">
            <i class="bi bi-plus-lg" role="button"></i>
            <div class="child d-none">
               <small class="text-body-secondary ps-5">duration: {{ transcription.meta.duration }}, size: {{ transcription.meta.size|filesizeformat }}, model: {{ transcription.meta.model }},{% if transcription.meta.language %} language: {{ transcription.meta.language }},{% endif %}{% if transcription.meta.hotwords %} hotwords: {{ transcription.meta.hotwords }},{% endif %} vad: {{ transcription.meta.vad_filter|lower }}, max segment length: {{ transcription.meta.max_segment_length }}, max segment time: {{ transcription.meta.max_segment_time }}</small>
            </div>
         </td>
         <td class="title"><a href="{% url 'webui:edit' transcription.id %}">{{ transcription.title }}</a></td>
         <td>{{ transcription.submitted|date:'n/j/Y g:i a' }}</td>
         {% for status in transcription.shown_statuses %}
         <td>
            {% if status == transcriptionstatus.COMPLETED %}
            <i class="bi bi-check-circle text-success"></i>
            {% elif status == transcriptionstatus.FAILED %}
            <i class="bi bi-x-circle text-danger"></i>
            {% else %}
            <i class="bi bi-dash"></i>
            {% endif %}
         </td>
         {% endfor %}
         <td>
            <div class="dropdown dropdown-center">
               <a role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="bi bi-three-dots-vertical"></i></a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'webui:view' transcription.id %}">View Text</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_text_blob' transcription.id %}">Download TXT Blob</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_text' transcription.id %}">Download TXT</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_srt' transcription.id %}">Download SRT</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_vtt' transcription.id %}">Download VTT</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_json' transcription.id %}">Download JSON</a></li>
               </ul>
            </div>
         </td>
         <td><a class="icon-link link-danger delete-transcription" href="{% url 'webui:delete' transcription.id %}"><i class="bi bi-trash"></i></a></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% else %}
<p>Nothing to see here, <a href="{% url 'webui:index' %}">go home</a>.</p>
{% endif %}
{% endblock content %}

{% block body-end %}
<script src="{% static 'webui/js/list.js' %}{{ '?v='|version }}"></script>
{% endblock body-end %}
