{% extends 'webui/base.html' %}
{% load static %}
{% load filters %}

{% block head %}
<link href="{% static 'webui/css/datatables.min.css' %}{{ '?v='|version }}" rel="stylesheet">
<script src="{% static 'webui/js/datatables.min.js' %}{{ '?v='|version }}"></script>
{% endblock head %}

{% block content %}
{% if transcriptions %}
<table id="transcriptions" class="table table-hover">
   <thead>
      <tr>
         <th><span class="visually-hidden">Expander</span></th>
         <th>Title</th>
         <th>Submitted</th>
         <th class="dt-center">Download</th>
         <th class="dt-center">Transcribe</th>
         <th class="dt-center">Diarize</th>
         <th><span class="visually-hidden">Menu<span></th>
         <th><span class="visually-hidden">Delete<span></th>
      </tr>
   </thead>
   <tbody>
      {% for transcription in transcriptions %}
      <tr>
         <td class="expand dt-center">
            <i class="bi bi-plus" role="button"></i>
            <div class="child d-none">
               {% if transcription.description %}
               <p class="ps-5">{{ transcription.description }}</p>
               {% endif %}
               <p class="ps-5"><small class="text-body-secondary">
                  {% for key,value in transcription.meta.items %}
                     {% if value %}
                        {% if key == 'size' %}
                           {{ key }}: {{ value|filesizeformat }}<br>
                        {% elif key == 'vad_filter' %}
                           {{ key }}: {{ value|lower }}<br>
                        {% else %}
                           {{ key }}: {{ value }}<br>
                        {% endif %}
                     {% endif %}
                  {% endfor %}
               </small></p>
            </div>
         </td>
         <td class="title"><a href="{% url 'webui:edit' transcription.id %}">{{ transcription.title }}</a></td>
         <td>{{ transcription.submitted|date:'Y-m-d H:i:s' }}</td>
         {% for status in transcription.shown_statuses %}
         <td class="dt-center">
            {% if status.status == transcriptionstatus.COMPLETED %}
            <i class="bi bi-check-circle text-success"></i>
            {% elif status.status == transcriptionstatus.FAILED %}
            <i class="bi bi-x-circle text-danger" data-bs-toggle="tooltip" data-bs-title="{{ status.error_message }}"></i>
            {% else %}
            <i class="bi bi-dash"></i>
            {% endif %}
         </td>
         {% endfor %}
         <td class="dt-center">
            <div class="dropdown dropdown-center">
               <a role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="bi bi-three-dots-vertical"></i></a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'webui:view' transcription.id %}">View Text</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_text_blob' transcription.id %}">Download TXT Blob</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_text' transcription.id %}">Download TXT</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_srt' transcription.id %}">Download SRT</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_vtt' transcription.id %}">Download VTT</a></li>
                  <li><a class="dropdown-item" href="{% url 'webui:download_json' transcription.id %}">Download JSON</a></li>
               </ul>
            </div>
         </td>
         <td class="dt-center"><a class="icon-link link-danger delete-transcription" href="#" data-url="{% url 'webui:delete' transcription.id %}"><i class="bi bi-trash"></i></a></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% else %}
<p>Nothing to see here, <a href="{% url 'webui:index' %}">go home</a>.</p>
{% endif %}
{% endblock content %}

{% block body-end %}
<script src="{% static 'webui/js/list.js' %}{{ '?v='|version }}"></script>
{% endblock body-end %}
